In [13]:
import numpy as np
from scipy import spatial
import pandas as pd

In [9]:
df1 = pd.read_csv('AllIndiaPostalCodes.csv')

In [10]:
df1.head()

,countrycode,postalcode,placename,adminname1,admincode1,adminname2,admincode2,adminname3,admincode3,latitude,longitude,accuracy
0,IN,744301,Sawai,Andaman & Nicobar Islands,1,Nicobar,638.0,Carnicobar,NaN,9.2000,92.7167,4
1,IN,744301,Mus,Andaman & Nicobar Islands,1,Nicobar,638.0,Carnicobar,NaN,9.2333,92.7833,4
2,IN,744301,Kakana,Andaman & Nicobar Islands,1,Nicobar,638.0,Carnicobar,NaN,9.1167,92.8000,4
3,IN,744301,Carnicobar,Andaman & Nicobar Islands,1,Nicobar,638.0,Carnicobar,NaN,9.1833,92.7667,3
4,IN,744301,Lapathy,Andaman & Nicobar Islands,1,Nicobar,638.0,Carnicobar,NaN,9.1833,92.7667,3

In [11]:
data1 = df1[['postalcode','placename','latitude','longitude ']]

In [12]:
len(data1)

154757

In [14]:
latlongs = data1.iloc[:,2:]
data =  np.array(latlongs)

In [15]:
tree = spatial.KDTree(data)

In [16]:
latlongs = np.array([18.480326,73.858055])
result = tree.query(latlongs)
result

(0.03936363932615813, 43426)

In [36]:
int(data1.iloc[[result[1]]]['postalcode'])

411001